<div class="tile">

<img class="item-image" src={{item.image}}>

<h2>{{item.item}}</h2>
<h3>{{item.description}}</h3>
<p>${{item.price}}</p>

<button type="button" class="btn btn-success" {{action "addToCart" item}}>Add to Cart</button>

</div>
